:root {
  --light-text-color: rgb(255, 255, 255);
  --dark-text-color: rgb(0, 0, 0);
  --color-main: rgba(165, 83, 25, 0.7);
  --color-sencondary: rgb(189, 183, 165);
  --color-call-to-action:rgb(142, 56, 56)  ;
  --color: rgb(103, 45, 0);
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
}

section {
  scroll-margin-top: 50px;
}

#section2 img:hover{
  cursor: pointer;
}

h1 {
  color: var(--light-text-color);
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
}

h2 {
  color: var(--dark-text-color);
  font-size: 50px;
  text-align: center;
  margin: 10px;
  margin-top: 100px;
  padding: 0;
}

h3 {
  color: var(--dark-text-color);
  font-size: 25px;
  text-align: left;
  margin: 0;
  margin-bottom: 5px;
}


/*-----STYLES FOR NAVIGATIONBAR-----*/
nav {
  position: fixed;
  width: 100%;
  background-color: var(--color-main);
  opacity: 1;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 55px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--dark-text-color);
  text-transform: uppercase;
}
nav a:hover {
  background-color: lightgray;
}
#nav-logo {
  padding: 0;
}

nav img {
  margin: 0;
  padding: 0;
  height: 100%;
  object-fit: fill;
}

nav li:first-child {
  margin-right: auto; 
}


/*-----SIDEBAR FOR SMALL DEVICES-----*/
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: var(--color-main);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transform: translateX(100%);
  transition: transform ease-in-out 0.25s;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
.menu-button {
  display: none;
}


/*-----Main Picture/ HERO SECTION-----*/
.mainPicture {
  position: relative;
  padding: 0;
  margin: 0;
  width: auto;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.mainPicture img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.mainPicture div {
  position: absolute;
  margin: 0;
  margin-top: 60px;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vw;

}
.mainPicture h1 {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 10;
  color: var(--light-text-color);
  font-size: 6vw;
  text-align: left;
}
.mainPicture h2 {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 10;
  color: var(--light-text-color);
  font-size: 3vw;
  text-align: left;
}
.mainPicture a {
  position: relative;
  padding: 1vw 2vw;
  z-index: 10;
  color: var(--light-text-color);
  text-decoration: none;
  background-color: var(--color-call-to-action);
  border: 2px solid black;
  border-radius: 8px;
  font-size:  min(5vw, 30px);
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.mainPicture a:hover {
  background-color: lightgray;
  color: var(--color-call-to-action);
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}

/*-----Style for Main Topics-----*/
/*-----Different Background-----*/
.backgroundExclusive h2 {
  background-color: var(--color-sencondary);
  margin: 0;
}

.backgroundExclusive div {
  background-color: var(--color-sencondary);
}

/*-----WAVE DESIGN-----*/
.wave-container {
  position: relative;
  width: 100%;
  margin-top: 100px;
  height: 350px; 
  overflow: hidden;
}
.wave-container-mirrored {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
  height: 350px; 
  overflow: hidden;
  transform: scaleY(-1);
}
.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%; 
}

.wave-back {
  z-index: 1;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250"%3E%3Cpath fill="rgb(189, 183, 165)" fill-opacity="1" d="M0,192L48,186.7C96,181,192,171,288,144C384,117,480,75,576,69.3C672,64,768,96,864,128C960,160,1056,192,1152,202.7C1248,213,1344,203,1392,197.3L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"%3E%3C/path%3E%3C/svg%3E')
    no-repeat bottom;
  background-size: cover;
  opacity: 0.3; 
}

.wave-front {
  z-index: 2;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250"%3E%3Cpath fill="rgb(189, 183, 165)" fill-opacity="1" d="M0,160L48,144C96,128,192,96,288,112C384,128,480,192,576,218.7C672,245,768,235,864,192C960,149,1056,75,1152,69.3C1248,64,1344,128,1392,160L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"%3E%3C/path%3E%3C/svg%3E')
    no-repeat bottom;
  background-size: cover;
}

/*-----FLEXBOX-----*/
.parent {
  margin: 0;
  padding: 5%;
  width: 90%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

.child1 {
  flex: 1;
  min-width: 300px;
  padding: 0;
  font-size: 20px;
}

.child1 a {
  color: var(--dark-text-color);
  text-decoration: none;
}

.child1 a:hover {
  text-decoration: underline;
}

.child2 {
  flex: 1;
  min-width: 300px;
  padding: 0;
  font-size: 20px;
}

.parent p {
  text-align: justify;
}

.parent img {
  width: 100%;
  height: auto;
}

.map iframe {
  position: relative;
  width: 100%;
  height: 350px;
}

/*-----SLIDER-----*/
.slider {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.sliderSmall {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 0;
  
}
.sliderSmall img{
  transition: ease 0.3s;
 }
.sliderSmall img:hover {
 transform: scale(1.05);
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
}

.slider button,
.sliderSmall button,
.fullScreenSlider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  opacity: 0.4;
  border: none;
  color: white;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 100;
}
.slider button:hover,
.sliderSmall button:hover,
.fullScreenSlider button:hover {
  opacity: 0.7;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/*-----Full Screen Slider-----*/
.fullScreenSlider {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: auto;
  border-radius: 5px; 
  overflow: hidden; 
  background-color: black; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
}

.fullScreenSlides {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.fullScreenSlides img {
  width: 100%;
  height: auto;
  display: none; 
}

.fullScreenSlides img.active {
  display: block; 
}

.fullScreenSlider .close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: var(--light-text-color);
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}


/*-----Picture over whole Screen for a break in the Layout-----*/
.full-width-pictures-frame {
  position: relative;
  width: 100%;
  height: 40vw;
  min-height: 250px;
}

.full-width-pictures {
  display: flex;
  width: 200%; /* 100% for each slide (2 slides -> 200%) */
  height: 100%;
  animation: slideShow 15s infinite;
  transform: translateX(0); /* Ensure starting position */
  
}

.full-width-picture {
  position: relative;
  height: 100%;
  flex: 1 0 50%; /* Each slide takes up 50% of the width */
  justify-content: center;
  align-items: center;
}

.full-width-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full-width-picture-text {
  position: absolute;
  left: 10%;
  top: 20%;
}

.full-width-picture h1 {
  margin: 0;
  padding: 0;
  z-index: 10;
  color: var(--light-text-color);
  font-size: 6vw;
  text-align: left;
}

.full-width-picture h2 {
  margin: 0;
  padding: 0;
  z-index: 10;
  color: var(--light-text-color);
  font-size: 3vw;
  text-align: left;
}


/*-----Styles for Price Table-----*/
.price-table {
  height: fit-content;
  min-height: 96%;
  padding: 4%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--color-sencondary);
  color: var(--dark-text-color);
  overflow-x: auto; 
}

.price-table h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

.price-table table {
  width: 100%;
  border-collapse: collapse;
  font-size:  max(1.5vw, 10px);
}


.price-table th,
.price-table td {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}

.price-table th {
  background-color: var(--color-sencondary);
  color: var(--light-text-color);
}

.price-table tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.price-table a {
  color: var(--light-text-color);
  text-decoration: none;
}

.price-table a:hover {
  text-decoration: underline;
}


/*-----Styles for Contact Form-----*/
.contact-form {
  height: 96%;
  margin-bottom: 50px;
  padding: 4%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--color-sencondary);
}

.contact-form label {
  font-size: 14px;
  color: var(--dark-text-color);
  display: block;
  margin-bottom: 2px;

}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form input[type="date"],
.contact-form input[type="number"],
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid var(--color-black);
  background-color: white;
  font-size: 14px;
  box-sizing: border-box;
}

.contact-form button[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: var(--color-call-to-action);
  color: var(--light-text-color);
  font-size: 18px;
  cursor: pointer;
  
}

.contact-form button[type="submit"]:hover {
  transform: scale(1.01); 
}

.contact-form input[type="text"]::placeholder,
.contact-form input[type="email"]::placeholder,
.contact-form input[type="tel"]::placeholder,
.contact-form input[type="date"]::placeholder,
.contact-form input[type="number"]::placeholder,
.contact-form textarea::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form input[type="tel"]:focus,
.contact-form input[type="date"]:focus,
.contact-form input[type="number"]:focus,
.contact-form textarea:focus,
.contact-form select:focus {
  outline: none;
  border-color: black;
}

.success-message {
  display: none;
  color: green;
  font-size: 20px;
  font-weight: bold;
}
.success-message.show {
  display: block;
}
.checkmark {
  color: green;
  font-size: 24px;
  margin-left: 10px;
}


/*-----footer-----*/
.footer {
  margin: 0px;
  padding: 10px;
  background-color: var(--color-main);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.footer h3 {
  margin: 5px 0px;
}

.footer div {
  margin: 0px 50px;
}

.footer p {
  margin: 0;
  padding: 0;
}

.footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer a {
  padding: 0;
  color: var(--dark-text-color);
  text-decoration: none;
}

.bottomBarrier {
  margin: 0;
  padding: 0;
  background-color: var(--color-main);
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
}


/*-----MEDIA QUERYS-----*/
@media (max-width: 768px) {
  /*-----NAV BAR-----*/
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }

  /*-----SLIDER-----*/
  .slides {
    pointer-events: none; 
    cursor: default; 
  }

  /*-----MAIN TOPICS-----*/
  .child1,
  .child2 {
    margin-top: 2%;
  }

  .child1 {
    order: 1;
  }

  .child2 {
    order: 2;
  }
}

@media (max-width: 414px) {

  .sidebar {
    width: 100%;
  }
}


/*-----ANIMAIONS-----*/
/* Keyframes for fill width Picture animation */
@keyframes slideShow {
  0% {
    transform: translateX(0); 
  }
  25% {
    transform: translateX(0%); 
  }
  50% {
    transform: translateX(-50%); 
  }
  75% {
    transform: translateX(-50%); 
  }
  100% {
    transform: translateX(0); 
  }
}